{% extends '../base.html' %}
{% load static %}
{% block title %}Inicio{%endblock %}
{% block pagetitle %}Alumnos{% endblock %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h5 class="h5 mb-0 text-gray-800">Todos los alumnos registrados</h5>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3"></div>
  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane fade show active">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="students-table"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Cedula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo electronico</th>
                <th>Teléfono</th>
                <th>Credencial</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody id="students-table-body">
              {% for student in students %}
              <tr id="table-row-{{ student.id }}">
                <td>{{ student.identification_number }}</td>
                <td>{{ student.names }}</td>
                <td>{{ student.surnames }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone }}</td>
                <td>
                  <img src="/media/images/{{ student.qrcode_path }}" width="90" height="90" />
                </td>
                <td>
                  <a href="javascript:void(0)" class="info" onclick="">
                    Editar
                  </a>
                  <a href="javascript:void(0)" class="danger" onclick=""
                    >Eliminar</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block additionaljs %}
{% csrf_token %}
<script type="text/javascript" charset="utf-8" async defer>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  $(document).ready(function () {
    $("#students-table").DataTable();
  });
</script>
{% endblock %}
