{% extends '../base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block pagetitle %}Alumnos{% endblock %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h5 class="h5 mb-0 text-gray-800">Estudiantes matriculados en el curso  "{{ course.course.name }}"</h5>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Asistencia {% now "d" %} {% now "M" %}, {% now "D" %}</h6>
	</div>
	<div class="card-body">
		<nav>
            <div class="nav nav-pills nav-fill" id="nav-tab" role="tablist">
              	<a class="nav-link active" data-toggle="tab" href="#enrollments" id="link-enrollments">Matricula</a>
              	<a class="nav-link" data-toggle="tab" href="#attendances" id="link-attendances">Asistencias</a>
              	<a class="nav-link" data-toggle="tab" href="#notes" id="link-notes">Notas</a>
            </div>
        <br>
        </nav>
        <div class="tab-content">
	        <div class="tab-pane fade show active" id="enrollments">   	
		    	{% if request.user.user_type == 1 or request.user.user_type == 2 or request.user.user_type == 3%}
					<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#InscribirAlumnoModal"><i
			 			class="fas fa-user fa-sm text-white-50"></i>&nbspInscribir alumno
			 		</a>
			 	{% endif %}
			 	<br/><br/>
	        	<div class="table-responsive">
		            <table class="table" id="enrollments-table" width="100%" cellspacing="0">
		                <thead>
		                    <tr>
		                        <th>Cedula</th>
		                        <th>Nombre</th>
		                        <th>Apellido</th>
		                        <th>Correo</th>
		                        <th>Telefono</th>
		                        <th>Acciones</th>
		                    </tr>
		                </thead>
		                <tbody id="enrollments-table-body">
		                	{% for student in data %}
		                		<tr id="enrollments-row-{{ student.id }}">
		                			<td>{{ student.identification_number }}</td>
		                			<td>{{ student.names }}</td>
		                			<td>{{ student.surnames }}</td>
		                			<td>{{ student.email }}</td>
		                			<td>{{ student.phone }}</td>
		                			<td><a href="#" class="danger" onclick="deleteStudent('{{student.id}}')">Eliminar</a></td>
		                		</tr>
		                	{% endfor %}
		                </tbody>
		            </table>
	        	</div>
	        </div>
	        <div class="tab-pane fade" id="attendances">
	        	<div class="table-responsive">
		            <table class="table" id="attendances-table" width="100%" cellspacing="0">
		                <thead id="attendances-table-head">
		                    <tr class="">
		                    	<th>Cédula</th>
		                        <th >Nombres y Apellidos</th>
		                       	{% for day, date in school_days %}
		                        	<th><small>{{date}}, {{day.es_name}}</small></th>
		                        {% endfor %}
		                    </tr>
		                </thead>
		                <tbody id="attendances-table-body">
		                	{% for enrolled_student in enrollments_students %}
		                		<tr id="attendances-row-{{ enrolled_student.id }}">
		                			<td>{{ enrolled_student.student.identification_number }}</td>
		                			<td>{{ enrolled_student.student.names }} {{ enrolled_student.student.surnames }}</td>

		                			{% for attendance, date in enrolled_student.get_attendances %}
		                				{% if attendance == True %}
		                					<td><input data-date="{{ date }}" data-enrolled="{{ enrolled_student.id }}" type="checkbox" checked="" onclick="mark_attendance(this);"></td>
		                				{% else %}
		                					<td><input data-date="{{ date }}" data-enrolled="{{ enrolled_student.id }}" type="checkbox" onclick="mark_attendance(this);"></td>
		                				{% endif %}
		                			{% endfor %}
		                	{% endfor %}
		                </tbody>
		            </table>
	        	</div>
	        </div>
	        <div class="tab-pane fade" id="notes">
		    	{% if request.user.user_type == 1 or request.user.user_type == 2 or request.user.user_type == 3%}
					<a href="javascript:void(0)" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#load-note-modal"><i
			 			class="fas fa-edit fa-sm text-white-50"></i>&nbspCargar nota
			 		</a>
			 	{% endif %}
			 	<br/><br/>
	        	<div class="table-responsive">
		            <table class="table" id="notes-table" width="100%" cellspacing="0">
		                <thead id="notes-table-head">
		                    <tr>
		                        <th>Cedula</th>
		                        <th>Nombres y Apellidos</th>
		                        <th>Nota 1</th>
		                        <th>Nota 2</th>
		                        <th>Nota 3</th>
		                        <th>Nota Final</th>
		                    </tr>
		                </thead>
		                <tbody id="notes-table-body">
		                	{% for enrolled_student in enrollments_students %}
		                		<tr id="notes-row-{{ enrolled_student.id }}">
		                			<td>{{ enrolled_student.student.identification_number }}</td>
		                			<td>{{ enrolled_student.student.names }} {{ enrolled_student.student.surnames }}</td>
		                			{% for note in enrolled_student.get_notes %}
		                				<td>{{ note }}</td>
		                			{% endfor %}
		                			<td>{{ enrolled_student.get_final_note }}</td>
		                		</tr>
		                	{% endfor %}
		                </tbody>
		            </table>
	        	</div>
	        </div>
    	</div>
	</div>
</div>

<!-- Inscribir alumno en un curso-->
<div class="modal fade" id="InscribirAlumnoModal" tabindex="-1" role="dialog" aria-labelledby="InscribirCursoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inscribir alumno</h5>
                <button id="InscribirAlumnoCloseModalButton" class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
				<form class="user" id="enrollmentForm">
			        <nav>
			        <br>
			        </nav>
					<div class="" id="step1">
						<div id="student_search_section" class="collapse show">
                            <div class="form-group">
					            <label class="">Buscar un alumno para inscribirlo</label>
					            <!-- Multiselect dropdown -->
					            <select style="border: 1px solid #000;" data-live-search="true" title="Busca el alumno por el nombre..." data-style="bg-white border rounded-pill px-4 py-3" class="selectpicker w-100" id="student_name_search" name="student_name_search">
					            
					            {% for student in students %}
					                <option data-tokens="{{ student.identification_number }}" id="option-{{student.id}}" value="{{ student.id }}">{{ student.full_name }}</option>			            	
					            {% endfor %}
					            </select>
                            </div>
                    	</div>
                    	<div id="student_register_section" class="collapse">
                        	<div class="form-group">
					            <label class="">Número de cédula</label>
                        		<input type="text" placeholder="Numero de cedula" class="form-control form-control-user" id="student_identification_number" name="student_identification_number">
                        	</div>
                        	<div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                	<label>Nombres</label>
                                    <input type="text" class="form-control form-control-user"
                                        placeholder="Nombre(s)" name="student_names" id="student_names">
                                </div>
                                <div class="col-sm-6">
                                	<label>Apellidos</label>
                                    <input type="text" class="form-control form-control-user"
                                        placeholder="Apellido(s)" name="student_surnames" id="student_surnames">
                                </div>
                        	</div>
                        	<div class="form-group">
					            <label class="">Correo electrónico</label>
                        		<input type="text" placeholder="Correo electronico" class="form-control form-control-user" id="student_email" name="student_email">
                        	</div>
                        	<div class="form-group">
					            <label class="">Teléfono celular</label>
                        		<input type="text" placeholder="Teléfono" class="form-control form-control-user" id="student_phone" name="student_phone">
                        	</div>
                    	</div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input" id="student_register_checkbox" name="student_register_checkbox">
                                <label class="custom-control-label" for="student_register_checkbox">Alumno no registrado
                                </label>
                            </div>
                        </div>
                    	<div class="form-group">
				            <label class="">Pago de inscripción</label>
                    		<input type="number" placeholder="Pago" class="form-control form-control-user" id="student_payment" name="student_payment" value="0">
                    	</div>

                        <small id="enrollment-debug" class="text-danger"></small>				
					</div>
					<hr>
			        <div class="row justify-content-between">
			        	<div class="col-auto">
			        		<button type="button" id="prevButton" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Cancelar</button>
			        	</div>
			            <div class="col-auto">
			              	<button type="submit" class="btn btn-primary" data-enchanter="finish" id="submitForm">Completar</button>
			            </div>
			        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Cargar nota -->
<div class="modal fade" id="load-note-modal" tabindex="-1" role="dialog" aria-labelledby="load-note-modal-label"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cargar nota</h5>
                <button id="InscribirAlumnoCloseModalButton" class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
				<form class="user" id="load-note-form">
			        <nav>
			        <br>
			        </nav>
					<div class="" id="step1">
						<div id="" class="collapse show">
                            <div class="form-group">
					            <label class="">Buscar alumno</label>
					            <!-- Multiselect dropdown -->
					            <select style="border: 1px solid #000;" data-live-search="true" title="Busca el alumno por el nombre..." data-style="bg-white border rounded-pill px-4 py-3" class="selectpicker w-100" id="enrollment_id" name="enrollment_id">
					            
					            {% for enrolled_student in enrollments_students %}
					                <option data-tokens="{{ enrolled_student.student.identification_number }}" id="option-{{enrolled_student.id}}" value="{{ enrolled_student.id }}">{{ enrolled_student.student.full_name }}</option>
					            {% endfor %}
					            </select>
                            </div>
                    	</div>
                    	<div class="form-group">
				            <label class="">Nota</label>
                    		<input type="number" placeholder="Nota" class="form-control form-control-user" id="note" name="note" value="0">
                    	</div>
                        <small id="enrollment-debug" class="text-danger"></small>
					</div>
					<hr>
			        <div class="row justify-content-between">
			        	<div class="col-auto">
			        		<button type="button" id="save-note-prev" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Cancelar</button>
			        	</div>
			            <div class="col-auto">
			              	<button type="submit" class="btn btn-primary" data-enchanter="finish" id="save-note">Guardar</button>
			            </div>
			        </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block additionaljs %}
{% csrf_token %}
<script type="text/javascript" charset="utf-8" async defer>

	function getCookie(name) {
	    let cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        const cookies = document.cookie.split(';');
	        for (let i = 0; i < cookies.length; i++) {
	            const cookie = cookies[i].trim();
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}

	function cleanForm() {
		let ids = ['student_identification_number', 'student_names', 'student_surnames', 'student_email', 'student_payment', 'student_phone', ];

		for(let i=0; i < ids.length; i++) {
			let elem = document.getElementById(ids[i]);
			elem.value = "";
		}
	}

	function appendStudent(student) {
		let tableBody = $('#enrollments-table-body');
		let row = "<tr id=enrollments-row-"+student.id+">";
		
		row += "<td>"+student.identification_number+"</td>";
		row += "<td>"+student.names+"</td>";
		row += "<td>"+student.surnames+"</td>";
		row += "<td>"+student.email+"</td>";
		row += "<td>"+student.phone+"</td>";
		row += "<td><a href='#' onclick='deleteStudent("+student.id+")'>Eliminar</a></td>";
		row += "</tr>";
		tableBody.append(row);
	}

	function removeStudent(student) {
		let row = $('#enrollments-row-'+student.id);
		row.remove();
	}

	function deleteStudent(student_id) {
		const csrftoken = getCookie('csrftoken');
		let deleteForm = new FormData();
		deleteForm.append("student_id", student_id);

		fetch("{% url 'courses:students-delete' enrollment_id %}", {
			method: 'POST',
			body: deleteForm,
			headers: { "X-CSRFToken": csrftoken },
		})
		.then(function(response) {
			if (response.ok) {
				return response.json();
			} else {
				return response.json();
			}
		})

		.then(function(response) {
			if (response.status == 200) {
				let student = response.data;
				removeStudent(student);
				alert(response.message);

				$('#InscribirAlumnoCloseModalButton').click();
				$('#student_name_search').append($("<option data-tokens='"+student.identification_number+"'", {
					id: "option-" + student.id,
					value: student.id,
					text: student.names + " " + student.surnames
				}));

				$('.selectpicker').selectpicker('refresh');

			} else if (response.status == 400) {
				alert(response.message);
			
			} else {
				alert(response.message);
			}
		})
	}

	function mark_attendance(elem) {
		const csrftoken = getCookie('csrftoken');

		let date = $(elem).data('date');
		let enrollment = $(elem).data('enrolled');

		alert(enrollment);
	}

	var i = 0;

	$(document).ready(function(e) {
		// DataTables
		let enrollmentsTable = $('#enrollments-table').DataTable();

		/* Formularios para buscar y registrar estudiante en un curso */
		let studentRegisterChecked = $('#student_register_checkbox').is(':checked');
		let studentSearchSection = $('#student_search_section');
		let studentRegisterSection = $('#student_register_section');

		if (studentRegisterChecked) {
			studentSearchSection.fadeOut(1);
			studentRegisterSection.fadeIn(100);
		}

		$('#student_register_checkbox').click(function(e) {
			let studentRegisterChecked = $('#student_register_checkbox').is(':checked');

			if (studentRegisterChecked) {
				studentSearchSection.fadeOut(1);
				studentRegisterSection.fadeIn(100);
			} else {
				studentRegisterSection.fadeOut(1);
				studentSearchSection.fadeIn(100);
			}
		});
		// Fin de bloque

		var enrollmentSubmitButton = $('#submitForm');
		var enrollmentDebug = $('#enrollment-debug');
		enrollmentDebug.html('');

		enrollmentSubmitButton.click(function(e) {
			e.preventDefault();

			const csrftoken = getCookie('csrftoken');
			let registerForm = $('#enrollmentForm');
			let form = new FormData(document.getElementById('enrollmentForm'));
			let registerStudentChecked = $('#student_register_checkbox').is(':checked');

			if (registerStudentChecked) {
				enrollmentDebug.html('Estudiante no registrado');
				isValid = true;
			} else {
				enrollmentDebug.html('Estudiante si esta registrado');
				isValid = true;
			}

			if (isValid) {
				fetch("{% url 'courses:students' enrollment_id %}", {
					method: 'POST',
					body: form,
					headers: { "X-CSRFToken": csrftoken },
				})
				.then(function(response) {
					if (response.ok) {
						return response.json();
					} else {
						return response.json();
					}
				})

				.then(function(response) {
					if (response.status == 201) {
						let student = response.data;
						appendStudent(student);
						alert(response.message);
    					$('#InscribirAlumnoCloseModalButton').click();
    					cleanForm();
    					$('#option-'+student.id).remove();
						$('.selectpicker').selectpicker('refresh');

					} else if (response.status == 400) {
						$('#enrollment-debug').html(response.message);
					
					} else {
						alert(response.message);
					}
				})
			}
		});

		$("#link-attendances").on("click", function(e) {
			e.preventDefault();
		})

		$("#link-notes").on("click", function(e) {
			e.preventDefault();
		})

		$('#save-note').on("click", function(e) {
			e.preventDefault();
			const csrftoken = getCookie('csrftoken');
			const enrollment_student_id = $('#enrollment_id').val();

			alert(enrollment_student_id);

			let form = new FormData();
			form.append('note', $('#note').val());
			form.append('enrollment_id', enrollment_student_id);

			fetch("{% url 'students:students-enrollments-notes' enrollment_id %}", {
				method: 'POST',
				body: form,
				headers: { "X-CSRFToken": csrftoken },
			})
			.then(function(response) {
				if (response.ok) {
					return response.json();
				} else {
					return response.json();
				}
			})
			.then(function(response) {
				if (response.status == 201) {
					let exam = response.data;
					let enrollment = exam.enrollment;
					let elem = $('#notes-row-'+enrollment.id);
					elem.empty()

					let td = "<td>"+enrollment.student.identification_number+"</td>";
					td += "<td>"+enrollment.student.names+" "+enrollment.student.surnames+"</td>";
					for(var i=0; i < enrollment.notes.length; i++) {
						td += "<td>"+enrollment.notes[i]+"</td>";
					}
					td += "<td>"+enrollment.final_note+"</td>";
					elem.append(td);
					alert(response.message);
				} else {
					alert(response.message);
				}
			})
		})
	});

</script>
{% endblock %}